# Environment variables
env.txt

# Cache files
__pycache__
.doit*

# Analysis results and intermediary data
data/analysis_results/*
data/cleaned/*
data/cleaning_reports/*
data/raw/*

# Exemption for a specific raw file under data/raw/
!data/cleaned/goodreads_reviews_cleaned.csv
!data/analysis_results/book_level_statistics.csv

# Exemption for gitignore itself
!.gitignore

