# Environment variables
env.txt

# Cache files
__pycache__
.doit*

# Analysis results and intermediary data
data/analysis_results/*
data/cleaned/*
data/cleaning_reports/*
data/raw/*

# Exemption for a specific raw file under data/raw/
!data/raw/goodreads_reviews_raw.csv

# Exemption for gitignore itself
!.gitignore

